.new {
  height: 478px;
  margin-bottom: 32px;
}

.header {
  font-weight: var(--bold-font-weight);
  font-size: 24px;
  margin-bottom: 16px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  width: 280px;
  height: 434px;
  border-radius: 8px;
}

.card-name {
  margin-top: 16px;
  font-size: 20px;
  font-weight: var(--normal-font-weight);
  width: 100%;
}

.card-image {
  width: 100%;
  height: 370px;
  position: relative;
}

.card-image-text {
  opacity: 0;
  font-size: 16px;
  font-weight: var(--normal-font-weight);
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: #F2F2F2;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  line-height: 22px;
  transition: opacity 0.25s;
  cursor: pointer;
}

.card-image-text:hover {
  opacity: 1;
}

.genres {
  height: 252px;
}

.genres-cards {
  display: flex;
  justify-content: space-between;
}

.g-card {
  position: relative;
  width: 280px;
  height: 208px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 48px;
  transition: 0.25s;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

#g-card1:hover {
  background: linear-gradient(127.83deg, #f2c94c 8.44%, #f29a4a 91.36%);
}

#g-card2:hover {
  background: linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
}

#g-card3:hover {
  background: linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
}

#g-card4:hover {
  background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
}

#g-card1 {
  background: linear-gradient(127.83deg, rgba(242, 201, 76, 0.8) 8.44%, rgba(242, 154, 74, 0.8) 91.36%);
}

#g-card2 {
  background: linear-gradient(127.83deg, rgba(242, 153, 74, 0.8) 8.44%, rgba(235, 87, 87, 0.8) 91.36%);
}

#g-card3 {
  background: linear-gradient(127.83deg, rgba(86, 204, 242, 0.8) 8.44%, rgba(47, 128, 237, 0.8) 91.36%);
}

#g-card4 {
  background: linear-gradient(127.83deg, rgba(130, 130, 130, 0.8) 8.44%, rgba(51, 51, 51, 0.8) 91.36%);
}

.g-card-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-title {
  font-size: 20px;
  font-weight: var(--normal-font-weight);
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
  left: 50%;
  transform: translate(-50%);
  color: #FFFFFF;
}