.footer-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.htc-logo {
  margin-left: 26px;
  margin-right: 40px;
}

.info {
  flex-grow: 1;
  font-size: var(--normal-text-size);
}

.address,
.number {
  font-weight: var(--normal-font-weight);
}

.address {
  margin-bottom: 6px;
}

.number {
  margin-bottom: 10px;
}

.htc-url {
  font-weight: var(--bold-font-weight);
}

.htc-url a {
  text-decoration: none;
  color: var(--htc-color);
}

.htc-url a:visited {
  text-decoration: none;
}