.header-content {
    height: 40px;
    width: 100%;
    margin: 32px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    left: 0;
    display: flex;
    align-items: center;
}

.logo-sign-layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sign-layer #ellipse {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	background-color: var(--red);
}

.logo-sign-layer #vector {
	position: absolute;
	width: 0;
	height: 0;
	margin-left: 5px;
	border-style: solid;
	border-width: 20px 0 20px 32px;
	border-color: transparent transparent transparent #FFFFFF;
}

.logo-text {
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    margin-left: 11px;
}

.search {
    display: flex;
    align-items: center;
}

.search-input {
    width: 320px;
    height: 25px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #333333;
    text-align: left;
    font-size: var(--normal-text-size);
}

.search-input:focus {
    outline: none;
}

.div-search-button {
    margin-left: 32px;
}

.header-button {
    border: none;
    background-color: white;
    color: var(--red);
    font-size: var(--normal-text-size);
    font-weight: var(--bold-font-weight);
    cursor: pointer;
}

.name-login-button {
    width: 182px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-name {
    width: 114px;
    font-size: 16px;
    font-weight: var(--bold-font-weight);
    text-align: right;
}

.header-button-back {
    border: none;
    width: 113px;
    height: 38px;
    background-color: var(--red);
    color: white;
    border-radius: 4px;
    font-size: var(--normal-text-size);
    font-weight: var(--bold-font-weight);
    cursor: pointer;
}

.header-button-2:hover {
    background-color: #CC221B;
}